[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2E002E001551303432323631-if00
restart_method: command

#[tempature_senson raspberry_pi]
#sensir_type: temperature_host
#min_temp: 10
#max_temp: 100

#[tempature_senson mcu_temp]
#sensir_type: temperature_mcu
#min_temp: 0
#max_temp: 100

[virtual_sdcard]
path: ~/gcode_files

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    110,110,20  # X100, Y100, Z20

[input_shaper]
shaper_freq_x: 31.8
shaper_type_x: mzv
shaper_freq_y: 39.6
shaper_type_y: mzv





[bltouch]
sensor_pin: ^PB7  
control_pin: PB6
x_offset: 3
y_offset: -31
samples: 2
speed: 2      # -12
z_offset: 1.130
#set_output_mode: 5V
#pin_move_time: 0.500
#probe_with_touch_mode: False
#pin_up_reports_not_triggered: True
#pin_up_touch_mode_reports_triggered: True


[safe_z_home]
#home_xy_position: 75,105 #AK# 100,100 # Change coordinates to the center of your print bed
home_xy_position: 117.5,157.50 #AK# 75,105 #AK# 100,100 # Change coordinates to the center of your print bed
speed: 100
z_hop: 5              # Move up 10mm
z_hop_speed: 10

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 10,70
mesh_max: 210, 233
probe_count: 6,6  # 4,4  # 6,6
mesh_pps: 2,2 # nr of points per segment to interpolate in the mesh. 
algorithm: bicubic
fade_start: 1
fade_end: 0.0
fade_target:0


[include lcd.cfg] 
[include mainsail.cfg] 
[include stepper.cfg]
[include extruder.cfg]
[include tmc.cfg]
[include bed.cfg]
[include fan.cfg]
[include mymacros.cfg]
[include ledlight.cfg]
[pause_resume]
[display_status]
[exclude_object]



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*#
#*# [bltouch]
